## Task 3: Data Analysis

2011_Transactions.csv is a database of transactions in the travel industry. This task requires you to provide summary statistics and run some basic analysis on this file

In [1]:
import pandas as pd

In [2]:
# read dataset as pandas dataframe 

trans = pd.read_csv('2011_Transactions.csv', encoding= 'unicode_escape')

In [3]:
# check column information in dataset 

trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8437 entries, 0 to 8436
Data columns (total 21 columns):
machine_id            8437 non-null int64
site_session_id       8437 non-null int64
domain_id             8437 non-null uint64
event_date            8437 non-null int64
event_time            8344 non-null object
prod_category_id      8437 non-null int64
prod_name             8437 non-null object
prod_qty              8437 non-null int64
prod_totprice         8437 non-null float64
basket_tot            8437 non-null float64
hoh_most_education    8437 non-null int64
census_region         8437 non-null object
household_size        8437 non-null object
hoh_oldest_age        8437 non-null int64
household_income      8437 non-null int64
children              8437 non-null int64
racial_background     8437 non-null int64
connection_speed      8437 non-null int64
country_of_origin     8437 non-null int64
zip_code              8437 non-null int64
domain_name           8437 non-null object
dtypes: float64(2), int64(13), object(5), uint64(1)
memory usage: 1.4+ MB

In [4]:
# check the first 5 lines in dataset 

trans.head(5)

,machine_id,site_session_id,domain_id,event_date,event_time,prod_category_id,prod_name,prod_qty,prod_totprice,basket_tot,...,census_region,household_size,hoh_oldest_age,household_income,children,racial_background,connection_speed,country_of_origin,zip_code,domain_name
0,13512886,3669584318587,9530952911301729568,20110720,2:03:02,45,CAR - COMPACT CAR JUL 28 2011~JUL 31 2011,3,147.00,147.00,...,3,4,8,7,0,1,1,0,38016,expedia.com
1,49645796,3355708493805,17475197073474272331,20110228,21:16:51,43,FLIGHT - COLUMBUS PORT COLUMBUS INTERNATIONAL ...,1,278.00,278.00,...,2,3,9,2,1,1,1,0,43224,travelocity.com
2,58622574,3360275042310,1875457313788268580,20110325,15:58:34,43,FLIGHT - N/A,2,701.96,544.76,...,3,3,9,7,0,1,1,0,32407,delta.com
3,59850911,3815456641153,1875457313788268580,20110726,21:31:36,43,FLIGHT - N/A,1,451.60,465.60,...,3,5,7,7,1,1,1,0,29909,delta.com
4,59850911,71716842443028,1875457313788268580,20111220,23:29:16,43,FLIGHT - N/A,1,640.93,662.33,...,3,5,7,7,1,1,1,0,29909,delta.com

1. What is the mean number of transactions made per individual (machine_id)? Restricting to the travel categories (prod_category_id = 43, 44 and 45) what is the mean number of transactions?

In [7]:
trans['machine_id'].value_counts().reset_index().mean(axis=0)

index         8.607783e+07
machine_id    2.015047e+00
dtype: float64

The mean number of transactions made per individual (machine_id) is 2.015.

In [8]:
# Restricting to the travel categories (prod_category_id = 43, 44 and 45) 

travCate = trans[trans['prod_category_id'].isin([43, 44, 45])]

In [9]:
travCate['machine_id'].value_counts().reset_index().mean(axis=0)

index         8.607268e+07
machine_id    1.958835e+00
dtype: float64

The mean number of transactions made per individual (machine_id) with travel categories restriction is 1.959.

2. Restricting attention again to the travel categories, for those who had multiple transactions:
 - How far apart are the transactions? Using this, categorize transactions that are likely related to each other, e.g. car rented and flight booked for the same trip.
 - For transactions related to each other, document the sequence of bookings (e.g. car booked first, then air travel, then hotel) in a visual manner.

In [7]:
travCate

,machine_id,site_session_id,domain_id,event_date,event_time,prod_category_id,prod_name,prod_qty,prod_totprice,basket_tot,...,census_region,household_size,hoh_oldest_age,household_income,children,racial_background,connection_speed,country_of_origin,zip_code,domain_name
0,13512886,3669584318587,9530952911301729568,20110720,2:03:02,45,CAR - COMPACT CAR JUL 28 2011~JUL 31 2011,3,147.00,147.00,...,3,4,8,7,0,1,1,0,38016,expedia.com
1,49645796,3355708493805,17475197073474272331,20110228,21:16:51,43,FLIGHT - COLUMBUS PORT COLUMBUS INTERNATIONAL ...,1,278.00,278.00,...,2,3,9,2,1,1,1,0,43224,travelocity.com
2,58622574,3360275042310,1875457313788268580,20110325,15:58:34,43,FLIGHT - N/A,2,701.96,544.76,...,3,3,9,7,0,1,1,0,32407,delta.com
3,59850911,3815456641153,1875457313788268580,20110726,21:31:36,43,FLIGHT - N/A,1,451.60,465.60,...,3,5,7,7,1,1,1,0,29909,delta.com
4,59850911,71716842443028,1875457313788268580,20111220,23:29:16,43,FLIGHT - N/A,1,640.93,662.33,...,3,5,7,7,1,1,1,0,29909,delta.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8432,95319234,7671937175476,14244539005989555924,20110102,4:16:06,43,"FLIGHT -WASHINGTON, DC (DCA)~AUSTIN, TX (AUS) N/A",1,111.65,111.65,...,1,2,3,1,0,1,1,0,1002,united.com
8433,95319894,5598578479186,5127767531286671227,20110609,0:21:18,43,"FLIGHT TUESDAY, JULY 5, 2011",1,434.00,434.00,...,1,1,5,1,0,3,1,0,77063,priceline.com
8434,95319894,5598578479186,5127767531286671227,20110609,0:21:18,43,"FLIGHT SATURDAY, JULY 2, 2011",1,0.00,434.00,...,1,1,5,1,0,3,1,0,77063,priceline.com
8435,95319894,68167160172789,14244539005989555924,20111119,20:40:14,43,"FLIGHT -HOUSTON, TX (IAH)~DENVER, CO (DEN) N/A",1,137.90,137.90,...,1,1,5,1,0,3,1,0,77063,united.com
8436,95320067,5474873184413,3010609366849421442,20110823,0:07:21,45,"NEW YORK CITY, NY (JFK)~DENVER, CO (DEN) FRI A...",1,508.00,508.00,...,4,4,7,7,1,1,1,0,80129,jetblue.com

In [26]:
# The transactions with same machine_id appearing at least twice in the dataset 

travCate['machine_id'].value_counts().loc[lambda x : x > 1]

93855448    34
85432156    29
82495406    28
91433731    26
81202618    24
            ..
83749430     2
89076285     2
90022106     2
80261697     2
87107610     2
Name: machine_id, Length: 1632, dtype: int64

In [9]:
# check the transactions with a specific machine_id with sorted dates 

travCate[travCate['machine_id'] == 82495406].sort_values(by=['event_date', 'event_time'])

,machine_id,site_session_id,domain_id,event_date,event_time,prod_category_id,prod_name,prod_qty,prod_totprice,basket_tot,...,census_region,household_size,hoh_oldest_age,household_income,children,racial_background,connection_speed,country_of_origin,zip_code,domain_name
2355,82495406,4307935170488,1037677886457106237,20110106,17:55:12,43,FLIGHT - ADULT JAN~13,1,199.06,284.66,...,3,4,6,7,0,1,1,0,75002,southwest.com
2358,82495406,4340104368144,1037677886457106237,20110404,16:50:50,43,FLIGHT - ADULT MAY~2,1,293.96,409.16,...,3,4,6,7,0,1,1,0,75002,southwest.com
2359,82495406,4340104368144,1037677886457106237,20110404,16:50:50,43,FLIGHT - ADULT MAY~2,1,226.04,305.64,...,3,4,6,7,0,1,1,0,75002,southwest.com
2360,82495406,4340104368144,1037677886457106237,20110404,16:50:50,45,"CAR - ECONOMY CAR MONDAY, MAY 2, ~WEDNESDAY, M...",2,127.80,165.58,...,3,4,6,7,0,1,1,0,75002,southwest.com
2361,82495406,4340104368144,1037677886457106237,20110404,16:50:50,43,UNLIMITED MILEAGE N/A,1,37.78,165.58,...,3,4,6,7,0,1,1,0,75002,southwest.com
2349,82495406,4222094741522,1037677886457106237,20110406,17:48:44,43,FLIGHT - ADULT APR~27,2,254.88,370.08,...,3,4,6,7,0,1,1,0,75002,southwest.com
2350,82495406,4222094741522,1037677886457106237,20110406,17:48:44,45,"CAR - ECONOMY CAR WEDNESDAY, APRIL 27, ~WEDNES...",1,33.72,45.86,...,3,4,6,7,0,1,1,0,75002,southwest.com
2351,82495406,4222094741522,1037677886457106237,20110406,17:48:44,43,UNLIMITED MILEAGE N/A,1,12.14,45.86,...,3,4,6,7,0,1,1,0,75002,southwest.com
2354,82495406,4295779160166,10326615452578885078,20110629,14:23:12,43,"ADULT JUL 12, 2011",1,0.00,0.00,...,3,4,6,7,0,1,1,0,75002,aa.com
2348,82495406,4216806969452,1037677886457106237,20110705,15:56:38,43,FLIGHT - ADULT N/A,1,91.16,176.76,...,3,4,6,7,0,1,1,0,75002,southwest.com
2353,82495406,4284431208557,10326615452578885078,20110706,14:56:57,43,"ADULT JUL 13, 2011",1,0.00,0.00,...,3,4,6,7,0,1,1,0,75002,aa.com
2357,82495406,4315771048053,1037677886457106237,20110714,18:25:41,43,FLIGHT - ADULT N/A,1,68.84,111.64,...,3,4,6,7,0,1,1,0,75002,southwest.com
2356,82495406,4314067374201,1037677886457106237,20110718,17:03:00,43,FLIGHT - ADULT N/A,1,314.42,400.02,...,3,4,6,7,0,1,1,0,75002,southwest.com
2352,82495406,4273007235202,7101213156062330967,20110727,15:34:30,43,"FLIGHT - DALLAS/FORT WORTH, TX TO SAN DIEGO, C...",1,321.02,339.34,...,3,4,6,7,0,1,1,0,75002,orbitz.com
2362,82495406,4452757016732,10326615452578885078,20110822,16:45:04,43,"ADULT SEP 08, 2011",1,348.00,348.00,...,3,4,6,7,0,1,1,0,75002,aa.com
2364,82495406,69766386684102,1037677886457106237,20111003,13:28:54,43,FLIGHT - ADULT N/A,1,440.30,577.50,...,3,4,6,7,0,1,1,0,75002,southwest.com
2365,82495406,69766386684102,1037677886457106237,20111003,13:28:54,45,"CAR - MID-SIZE CAR WEDNESDAY, OCTOBER 12, 2011...",1,41.01,54.68,...,3,4,6,7,0,1,1,0,75002,southwest.com
2366,82495406,69766386684102,1037677886457106237,20111003,13:28:54,43,UNLIMITED MILEAGE N/A,1,13.67,54.68,...,3,4,6,7,0,1,1,0,75002,southwest.com
2367,82495406,69911374860488,1037677886457106237,20111005,14:28:43,43,FLIGHT - ADULT N/A,6,1892.40,1978.00,...,3,4,6,7,0,1,1,0,75002,southwest.com
2368,82495406,69911374860488,1037677886457106237,20111005,14:28:43,43,UNLIMITED MILEAGE N/A,1,37.27,151.76,...,3,4,6,7,0,1,1,0,75002,southwest.com
2369,82495406,69911374860488,1037677886457106237,20111005,14:28:43,45,"CAR - MINIVAN WEDNESDAY, OCTOBER 19, 2011~WEDN...",1,114.49,151.76,...,3,4,6,7,0,1,1,0,75002,southwest.com
2371,82495406,71805965832400,10326615452578885078,20111013,15:00:27,43,ADULT N/A,1,0.00,0.00,...,3,4,6,7,0,1,1,0,75002,aa.com
2370,82495406,70951134695652,10326615452578885078,20111102,16:50:27,43,PASSENGER N/A,1,37.50,37.50,...,3,4,6,7,0,1,1,0,75002,aa.com
2375,82495406,73582287655154,1037677886457106237,20111116,21:24:32,43,FLIGHT - ADULT N/A,1,139.40,225.00,...,3,4,6,7,0,1,1,0,75002,southwest.com
2363,82495406,69682984784130,10326615452578885078,20111202,22:14:09,43,PASSENGER N/A,1,25.00,25.00,...,3,4,6,7,0,1,1,0,75002,aa.com
2372,82495406,72042780168468,1037677886457106237,20111220,17:32:31,43,FLIGHT - ADULT N/A,1,401.80,517.00,...,3,4,6,7,0,1,1,0,75002,southwest.com
2373,82495406,72042780168468,1037677886457106237,20111220,17:32:31,45,"CAR - FULL-SIZE CAR FRIDAY, JANUARY 27, 2012~S...",2,113.38,213.20,...,3,4,6,7,0,1,1,0,75002,southwest.com
2374,82495406,72042780168468,1037677886457106237,20111220,17:32:31,43,UNLIMITED MILEAGE N/A,1,39.96,213.20,...,3,4,6,7,0,1,1,0,75002,southwest.com

In [30]:
travCate[(travCate['machine_id'] == 93855448) & (travCate['event_date'] == 20110917)]

,machine_id,site_session_id,domain_id,event_date,event_time,prod_category_id,prod_name,prod_qty,prod_totprice,basket_tot,...,census_region,household_size,hoh_oldest_age,household_income,children,racial_background,connection_speed,country_of_origin,zip_code,domain_name
7344,93855448,5833288192182,1037677886457106237,20110917,12:26:20,43,FLIGHT - AWARD TPA-SDF,1,2.50,25.00,...,2,3,7,5,0,1,1,0,47172,southwest.com
7345,93855448,5833288192182,1037677886457106237,20110917,12:26:20,43,FLIGHT - AWARD SDF-TPA,1,2.50,25.00,...,2,3,7,5,0,1,1,0,47172,southwest.com
7346,93855448,5833288192182,1037677886457106237,20110917,12:26:20,43,FLIGHT - N/A,1,5.01,30.01,...,2,3,7,5,0,1,1,0,47172,southwest.com
7347,93855448,5833288192182,1037677886457106237,20110917,12:26:20,43,FLIGHT - COMPANION SDF-TPA,1,2.50,30.01,...,2,3,7,5,0,1,1,0,47172,southwest.com
7348,93855448,5833288192182,1037677886457106237,20110917,12:26:20,43,FLIGHT - COMPANION TPA-SDF,1,2.50,30.01,...,2,3,7,5,0,1,1,0,47172,southwest.com
7349,93855448,5833288192182,1037677886457106237,20110917,12:26:20,43,FLIGHT - N/A,1,0.00,10.00,...,2,3,7,5,0,1,1,0,47172,southwest.com
7350,93855448,5833288192182,1037677886457106237,20110917,12:26:20,43,FLIGHT - N/A,1,2.50,12.50,...,2,3,7,5,0,1,1,0,47172,southwest.com
7351,93855448,5833288192182,1037677886457106237,20110917,12:26:20,43,FLIGHT - COMPANION TPA-SDF,1,2.50,30.01,...,2,3,7,5,0,1,1,0,47172,southwest.com
7352,93855448,5833288192182,1037677886457106237,20110917,12:26:20,43,FLIGHT - COMPANION SDF-TPA,1,2.50,30.01,...,2,3,7,5,0,1,1,0,47172,southwest.com
7353,93855448,5833288192182,1037677886457106237,20110917,12:26:20,43,FLIGHT - N/A,1,5.01,30.01,...,2,3,7,5,0,1,1,0,47172,southwest.com
7354,93855448,5833288257718,1037677886457106237,20110917,13:17:39,43,FLIGHT - POINTS SDF-TPA,1,2.50,25.00,...,2,3,7,5,0,1,1,0,47172,southwest.com
7355,93855448,5833288257718,1037677886457106237,20110917,13:17:39,43,FLIGHT - POINTS TPA-SDF,1,2.50,25.00,...,2,3,7,5,0,1,1,0,47172,southwest.com